extends ../../template/template.pug

block head
	link(rel="stylesheet", type="text/css", href="present.scss")

block body
	section.presentation-list
		ul
			li: h2: a(href="auth0/") Auth10/10 (Facet)
			li: h2: a(href="puppers/") Puppers (COMM 1020)
			li: h2: a(href="sister/") Sister (COMM 1020)
			li: h2: a(href="vg/") Video Games (ENGL 2010)
