extends ../../template/template.pug

block body
	style.
		#logo {
		  --accent-color: black;
		}
		
	section(style="padding-top: 1.25in")
		ul
			li: h2: a(href="puppers/") Puppers (COMM 1020)
			li: h2: a(href="sister/") Sister (COMM 1020)
			li: h2: a(href="vg/") Video Games (ENGL 2010)
