:root {
	--accent-color: white;
}

body {
	background-color: #12142d;
	color: #bdbfed;
}

#header {
	text-align: center;
	padding-top: 7em;

	h1 {
		font: {
			size: 3em;
			weight: 300;
		}

		@media screen and (min-width: 8in) {
			font-size: 5em;
		}
	}

	img {
		max-width: 100%;
		max-height: 90vh;
		padding: 0.5in 0;
		margin: auto;
	}

	.button {
		display: inline-block;
		background-color: var(--dark-sky);
		color: white;
		font-size: 1.5em;
		border-radius: 2em;
		padding: 0.75em 2em;

		& + .button {
			margin-left: 0.25in;
		}
	}
}

#content {
	margin: auto;
	max-width: 10in;
	font-size: 1.5em;
}
