html {
  background-image: url( '../images/background.png' );
  background-size: cover;
  background-attachment: fixed;
}

html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

#title {
  grid-area: title;
  font-family: brush;
  font-size: 60pt;
  text-shadow: black 0px 0px 10px;

  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: #efffff;

  margin-left: 1em;
  padding-left: 0.7em;

  color: #efffff;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
}
