extends ../layout.pug
block head
  title Oui! - A CSS framework for humans

block body
  section#banner(style="background-color: #fb976c; text-align: center; padding: 20vh; color: white")
    h1(style="font-size: 7em"): em Oui!
  section#header(style="background-color: #fb976c; position: sticky; top: 0; --accent-color: white")
    a(href="#") Getting Started
    | &nbsp;&middot;&nbsp;
    a(href="#") Documentation

  section(style="max-width: 12in; margin: auto")
    h2(style="color: var( --yellow )").
      <em>Oui!</em> is still a very heavy work in progress, as is this website. I'm still
      trying to figure out what exactly I want from a style framework, but I am using it in
      lots of different projects to figure out what is working and what isn't.
    pre &lt;link rel="stylesheet" type="text/css" href="https://mckay.la/resources/oui/oui.min.css" />
    p.
      Oui is a style framework that makes it easier to focus on getting work done instead
      of spending all of your time getting spacing, padding, fonts, colors, and everything
      in between to look how you want. It focuses on sensible defaults, rather than making
      expandability through classes. Classes are still around to tweak smaller things, but
      the idea is that you shouldn't have to write any of your own CSS for a page to look
      good as long as you used sensible markup.
