@mixin hero {
	background: {
		color: #71c5a3;
		image: url("/resources/screenshots/lavender.jpg");
		position: center;
		size: cover;
		repeat: no-repeat;
	}
}

body {
	@media screen and (min-width: 10in) {
		@include hero;
		background-attachment: fixed;
	}
}

#banner {
	color: white;
	padding: 20vh 0;
	margin: 0 auto;
	text: {
		align: center;
		shadow: 0 0 8px black, 0 0 0.25in black;
	}

	@media screen and (max-width: 10in) {
		@include hero;
	}

	h1 {
		color: var(--light-violet);
		font-size: 4em;

		@media screen and (min-width: 7in) {
			font-size: 7em;
		}
	}
}

#content {
	background-color: white;
	max-width: 10in;
	margin: auto;

	@media screen and (min-width: 10in) {
		border-radius: 7px;
		margin-bottom: 1in;
	}

	ul {
		list-style-type: square;
		margin-left: 1em;
	}

	.book-contents {
		@media screen and (min-width: 8in) {
			margin-left: 3em;
			columns: 2;
		}
	}
}

.button {
	transition: transform 300ms;

	display: block;
	margin: 1em auto;

	border: 1px solid black;
	border-radius: 4px;

	font-size: 1.5rem;
	padding: 0.6em 1em;

	text-align: center;
	width: 2.5in; // I hate this a lot, but I can't figure out how to
	// have it size itself dynamically. CSS is dumb.

	&:hover {
		transform: scale(1.1);
	}
}
