#presentation {
	height: 100%;

	& > section {
		min-height: 100vh;
		width: 100%;

		margin: 0;
		padding: 7%;

		background-color: black;
		color: white;

		box-shadow: 0 0 100px black;
		text-shadow: 0 0 50px black;

		font-size: 2.75em;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		li {
			list-style-type: lower-roman;
		}

		& > * {
			border: 2px dashed transparent;
		}

		& > *:hover {
			border: 2px dashed black;
		}
	}
}

.editing {
	background-color: rgba(246, 207, 172, 0.7);
	border: 2px dashed black;

	input {
		font-size: 1em;

		background-color: transparent;
		border: none;

		width: 100%;
		padding: 0 0.2em;
	}
}
