extends ../present.pug

block presentation
	section(style="padding-top: 15%")
		h1 Who does McKayla admire?
	section(style="background-color: #3b65e0")
		h1(style="padding-bottom: 50px") Jess
			img(
				src="jess.jpg",
				style="float: left; margin-right: 50px; box-shadow: 0 0 20px black",
				width=500
			)
			div(style="padding-top: 120px")
				h4 Independent
				h4 Hard working
				h4 Adventurous
