html, body {
  width: 100%;
  height: 100%;

  font-family: montserrat;
}

section {
  display: grid;

  grid-template-rows: 2fr 1fr;
  grid-template-columns: auto;
  grid-template-areas: "display" "content";

  height: 100%;

  box-shadow: 0 0 100px black;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 0;
  overflow: scroll;

  font-size: 1.45em;
}

section h1 {
  font-family: brush;
  font-size: 5em;
}

@media screen and (min-width: 800px) and (min-height: 700px) and (orientation: landscape) {
  section:nth-child(odd) {
    grid-template-rows: auto;
    grid-template-columns: auto 5.5in;
    grid-template-areas: "display content";
  }

  section:nth-child(even) {
    grid-template-rows: auto;
    grid-template-columns: 5.5in auto;
    grid-template-areas: "content display";
  }

  /* .top-container {
    grid-template-rows: 3.5in auto;
    grid-template-columns: auto;
    grid-template-areas: "content" "display";
  }

  .bottom-container {
    grid-template-rows: auto 3.5in;
    grid-template-columns: auto;
    grid-template-areas: "display" "content";
  } */
}

#title {
  background-image: url('/resources/images/background.png');
}

#education {
  background-image: url('/resources/images/uvu.jpg');
}

#hobbies {
  background-image: url('/resources/images/tree.jpg');
  font-size: 1.25em;
}

#work {
  background-image: url('/resources/images/river.jpg');
  font-size: 1.1em;
}

#credits {
  background-image: url('/resources/images/rock.jpg');
}

#work h4 {
  padding-bottom: 0;
}

span.location, span.date {
  font-weight: normal;
}

.page-content {
  grid-area: content;

  background-color: rgba( 255, 255, 255, 0.9 );
  box-shadow: 0 0 100px black;
  padding: 0.5in 0.3in;
}

.page-display {
  padding: 0.5in 0.8in;
}

.page-display ul {
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: #efffff;

  margin: 0 0 0.3in 0;
}

.page-display ul a {
  display: block;

  max-width: 3.5in;

  margin: 0.1in 0.5in 0.1in 0.15in;
  padding: 0.15in 0.25in;

  background-color: rgba( 255, 255, 255, 0.9 );
  box-shadow: 0px 0px 30px black;
  border-radius: 5px;

  transition: padding 300ms, margin 300ms, background 150ms;
  font-size: 1.5em;
}

.page-display ul a:hover {
  background-color: rgba( 255, 255, 255, 1 );
  padding: 0.2in 0.3in;
  margin: 0 0.45in 0.1in 0.1in;
  text-decoration: none;
}

#slim-footer {
  color: white;
  text-shadow: 0 0 1em black;

  margin: 0 0.4in;
  padding: 0;
	font-size: 0.55em;
}

a {
  display: inline;
}

#credits p {
  font-size: 0.6em;
}
