html {
  background-image: url( '../images/background.png' );
  background-size: cover;
  background-attachment: fixed;

  font-family: "Montserrat", sans-serif;
}

#title {
  grid-area: title;
  font-family: brush;
  font-size: 60pt;
  text-shadow: black 0px 0px 10px;

  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: #efffff;

  margin: 0.7em auto 0.7em 0.7in;
  padding: 0 0 0 0.7in;

  color: #efffff;
}

li a {
  display: block;

  transition: transform 300ms, padding 300ms, background 150ms;

  margin: 1em 0 0.5em 1.15in;
  padding: 0.5em 0.25in;
  max-width: 11em;

  background-color: rgba( 255, 255, 255, 0.9 );
  box-shadow: 0px 0px 30px black;
  border-radius: 4px;

  font-size: 2em;
}

li a:hover {
  transform: translate( -0.1in, -0.2em );

  text-decoration: none;

  padding: 0.7em 0.35in;

  background-color: rgba( 255, 255, 255, 1 );
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
}
