extends ../present.pug

block scripts
	script(type="application/javascript", src="vg.js")

block presentation
	section(style="padding-top: 30%; background-image: url( 'baby.jpeg' )")
		h1 How do video games affect child development?
		p McKayla Washburn
	section(style="background-image: url( minecraft.jpeg )")
		h1 They are beneficial!
		ul
			li Improve motor skills
			li Increase social skills
			li Development of problem solving and team working abilities
			li Spending more time together as a family
	section(style="background-image: url( doom.jpeg )")
		h1 They are problematic!
		ul
			li Potential to increase behavioral problems
			li Some evidence of a negative effect on social skills
			li Addicitive behavior has sometimes been seen
			li Spending less time together as a family
	section(style="background-image: url( witness.jpeg )")
		h1#target They are
		ul
			li Communicate with your child about reasonable video game consumption
			li All things are best in moderation, and there is no reason to think that video games should be any different.
			li Definitely not a substitute for a baby sitter or time together as a family
			li Video games are not as destructive as some may be inclined to believe,
				| but do come with some risks. Parents should observe and communicate with their children to find a healthy balance.
