extends ../layout.pug

block head
  title Ouroboros
  link(rel="stylesheet" type="text/css" href="ouroboros.sass")

block scripts
  script(type="application/javascript" src="ouroboros.js")

block body
  canvas#screen
