extends ../present.pug

block presentation
	section(style="padding-top: 30%")
		h1 Persuasive speech
		h3 COMM-1020-012
		p: sub Super controversial. Get ready.

	section(style="padding-top: 30%; background-image: url( chili.jpg )")
		h1 You should adopt a doggo!
		p McKayla Washburn

	section(style="background-image: url( shelter.jpg )")
		h1 Adoption
		ul
			li Over-populated shelters
			li Much more affordable
			li Often already have up-to-date shots
			li Save a life!

	section(style="background-image: url( mill.jpg )")
		h1 Funding puppy mills creates lots of problems
		ul
			li Often suffer from malnutrition
			li Puppy mills are breeding grounds for disease
			li Untreated infections can cause permanent damage
			li Muscular atrophy from lack of exercise

	section(style="background-image: url( trek.jpg )")
		h1 Dogs are basically the new baby
		ul
			li Consistent diet is easy to maintain
			li Doesn't need clothing, school supplies, college tuition, or even a bedroom

		ul
			li Regular exercise
			li Consistent living space
			li Toys to play with
			li Love, attention, and cuddles

	section(style="background-image: url( sweater.jpg )")
		h1 Oh boy! I'm so conviced that I'm gonna go adopt one right now!
		p Wait.
		ul
			li Don't adopt unless you're ready
			li Keep this in your mind
			li Share with others who may care

	section
		h1 Resources
		ul
			li Utah Humane Society &mdash; https://www.utahhumane.org/
