extends ../../layout.pug

block head
  title Dangerous
  link(rel="stylesheet" type="text/css" href="dangerous.sass")

block scripts
  script(type="application/javascript" src="dangerous.tsx")

block body
  //- div#floating
  //-   div#modal
  //-     h1#modal-title
  //-     button#modal-okay
  //-     button#modal-close See it
  
  //- table#grid

  section#minefield
