h2#characters Characters
section
  h3 Eve
  p.
    <a>Eve</a> is the protagonist that you play as during the story of <a>Hell</a>. She was training
    to be an <a>Angel</a>, and although <a>Sam</a> and herself were usually part
    of the rituals, they were told to stay behind on the day that the elders disappeared.
  h3 Sam
  p.progress.
    A best friend of <a>Eve</a> and a fellow training <a>Angel</a> before the <a>Annointed</a> went missing.
  h3 Chariot
  p.progress.
    A half-wolf half-giraffe <a>Pixie</a> that guides <a>Eve</a> through <a>Halo Forest</a> when the
    <a>Annointed</a> vanish.
  h3 Izoh (but..really?)
  p.progress.
    #thebadguy
