h2#events Events
section
	h3 Corruption
	p.
		A few years ago, after the disappearance of the <a>Angels</a>, <a>Hell Mountain</a>
		began to change. It no longer glows with a radiant light, and it now has a darkness and ominence
		to it. The <a>Corruption</a> has more recently begun spreading to <a>Halo Lake</a>.
