h2#futures Future expansion
section
  h3 **fatboi**
  p.progress.
    A malicious force that rose to power long ago. An <a>Angel</a> that sought to use
    the power of <a>Halo</a> to benefit themself. After years of exposure to <a>Halo</a>
    it eventually disolved his <em>essence??</em> and formed <a>**fatterboi**</a>
    in the process.
  h3 **fatterboi**
  p.progress.
    A pure being of <a>Halo</a> which behaves irradically and is unable to sustain itself
    without constantly absorbing additional <a>Halo</a> and discarding <em>**somethingelse**</em>.
    Every time <em>**somethingelse**</em> is discarded, a small bit of disolved <em>essence??</em>
    from <a>**fatboi**</a> is lost as well, resulting in another new, but weaker, being of pure
    <a>Halo</a> called a <a>Consumed</a>.
  h3 Consumed
  p.
    Dark creatures which resemble <a>Citizens</a> but are devoid of any identifiable features.
    They are violent towards <a>Citizens</a> and will go to great lengths to attack them. Any
    skin they come in to contact with will form an additional <a>Cloud</a> on the person.</p>
  p.
    <strong>Unknown:</strong> They drop small crystals when defeated which are made of <a>Halo</a>
    and can be absorbed by <a>Eve</a>. They are manifestations of pure corrupted <a>Halo</a> and
    only desire to obtain more <a>Halo</a> through whatever means necessary.

section.future: section
  h3 Random notes
  p.
    All of the characters that guide you through the game would be spirit animals, all of
    the humanoids would either just be casually going about their day or absolutely flipping
    the fuck out over the end of the world. Which ever.
  p.
    The world has always been, and has existed as a constant throughout all of time. The
    energy in the world took a while to condense into a small enough portion of the world
    to form life. Babies form on top of a mountain where the energy has most condensed in the world.
    The mountain came to be when the energy entered the planet and caused the ground to swell up.
    The energy can be channeled through study and practice, but only by those with strong enough
    energy themselves. As the population of the world increased, people slowly lost the ability
    to control this magic as each individual had less spirit available to them.
  p.
    To balance out this energy, a darkness formed, and they both fight constantly to suppress
    the other. Before the energy filled the world, it was filled with darkness. The energy sought
    to push the darkness out of the world but could only suppress it. After years of struggling,
    it is starting to break free, and manifest itself on the surface. The creatures that it
    creates are attacking the people and animals the inhabit the land, and are unable to manifest
    enough power to fight back. Except for one young girl, who has a name I’m pretty sure,
    that was born of the energy to save the world from the darkness.<br />
    When she turns 16, a spirit invites her into the woods. Her parents and the other towns
    people scream out to stop her, but she can’t hear them and walks into the forest anyway.
    Some ran towards her to try and bring her back, but as she walks past the tree line she
    disappears. She wakes up on a white plate, that floats above the mountain. The master of
    spirits approaches her and explains fate, and what she must do. She is told that she must
    say goodbye to her loved ones and venture off to the abandoned island temple, an artifact
    from long ago when the masses still practiced their magic powers, where she will be able
    to gain her full strength and fight the beast of darkness.
  p.
    When she returns to her town, her parents are overjoyed to see her again. As she explains
    what she saw, they ask that she spend one last week with them in the town before heading
    off. She accepts. That night, the darkness attacks the village, and claims the life of
    her beloved dog, who also probably has a name or something I thing. As she attempts to
    protect him, a storm of power is unleashed from all around her, destroying several town
    buildings and pushing back all of the darkness.
