h2#gameplay Gameplay
section
  h3 Halo meter
  p.
    Your <a>Halo</a> meter is displayed as a sphere that appears completely white when full
    and has a black center that will slowly spread as your <a>Halo</a> is depleted.
