extends ../../template/template.pug

block head
	title Hell
	link(rel="stylesheet", type="text/css", href="resources/design.css")

block scripts
	script(type="application/javascript", src="resources/menu.js")

block body
	section.banner
		p New game
		p Load game
		p.active Continue
		p Options
		h1.sans-serif Hell
		h6.version &copy; 2020 &hearts; McKayla &middot; 0.0.0-2020-05-16-14-41

	section.container
		h2#toc: a(href="#toc") Contents
		section
			ol
				li: a(href="#premise") Premise
				li: a(href="#locations") Locations
				ol
					li: a(href="#crown-hemisphere") Crown Hemisphere
					li: a(href="#haven-hemisphere") Haven Hemisphere
					li: a(href="#halo-forest") Halo Forest
				li: a(href="#events") Events
				li: a(href="#characters") Characters
				li: a(href="#story") Story
				ol
					li: a(href="#eve") Eve (iOS)
					li: a(href="#hell") Hell (Console)
				li: a(href="#gameplay") Gameplay
				li: a(href="#futures") Future expansion

		//- include pages/premise.pug
		//- include pages/locations.pug
		//- include pages/events.pug
		//- include pages/characters.pug
		//- include pages/story.pug
		//- include pages/gameplay.pug
		//- include pages/futures.pug
