html, body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 500px 50px 1fr;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-areas: "top top top" "left content right" "left control right" "bottom bottom bottom";
}

#sudoku {
  display: grid;
  grid-area: content;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.section input {
  display: inline-block;
  width: 10px;
  height: 10px;
}

#controls {
  grid-area: control;
}

#submit {

}
