h2#locations Locations
section
	h2#crown-hemisphere(style="--color: var( --gold )") Crown Hemisphere
	section
		h3 Halo
		p.progress A city near the border of <a>Halo Forest</a> that is in close proximity to <a>Halo Lake</a>.
		h3 Memory
		p.
			A city with a large university dedicated to the study of utilizing <a>Halo</a> as a tool
			to benefit <a>Hell</a> by creating devices which can use <a>Halo</a> as a power source.
		h3 Paradise
		p.incomplete The city of <a>Paradise</a>.
		h3 Oasis
		p.
			A farm town which use to be incredibly fertile but has been struggling in
			recent time to flourish the way they have in years past.
		h3 Omen
		p The city of <a>Angels</a> which sits on the edge of <a>Halo Forest</a> nearest <a>Hell Mountain</a>.

	h2#haven-hemisphere(style="--color: var( --turquoise )") Haven Hemisphere
	section
		h3 Temple
		p.
			<a>Temple</a> is an uninhabited city ruin built around an ancient temple that the construction
			of isn't truly known. Since the <a>Corruption</a>, <a>Citizens</a> of the <a>Haven Hemisphere</a>
			have noticed that it has a similar darkness eminating from it similar to the one
			eminating from <a>Hell Mountain</a>. It resides on an island near the coast of <a>Euphoria</a>.
		h3 Euphoria
		p.
			Sitting on the coast near the island of <a>Temple</a>, Euphoria is a city built around some strange stone
			remains that look like they may have once formed statues and alters. It is home to a group of researchers
			that often visit the nearby desert to explore for other lost remains in attempts to learn more about the
			mysterious history of the strange world they live in.
		h3 Philo
		p.incomplete The city of <a>Philo</a>.
		h3 Tranquility
		p.incomplete The city of <a>Tranquility</a>.
		h3 Haven
		p.
			Haven is the city farthest from <a>Hell Mountain</a>. It is a new settlement which only
			developed as <a>Clouds</a> started appearing after the <a>Corruption</a>. Some <a>Citizens</a>
			were afraid that <a>Hell Mountain</a> was punishing them and that moving farther away might
			lessen the effects of the <a>Corruption</a>. They sought a retreat and named it <a>Haven</a>.
			
	h2#halo-forest(style="--color: var( --emerald )") Halo Forest
	section
		p.
			<a>Halo Forest</a> is a forest that covers and connects the two hemispheres of <a>Hell</a>,
			but somehow has a complete perimeter on each. The connection between the two hemispheres
			somehow only exists inside of the forest. It is also the only place on <a>Hell</a> where
			you can find <a>**wildhalos**</a>. The trees grow with a <span style="color: var( --copper )">pale brown bark</span> and a slight blue
			tint on the <span style="color: #0dba96">mostly green leaves</span>.
		h3 Halo Lake
		p.
			A lake as large around and as deep as <a>Hell Mountain</a> is tall. Those still brave enough
			to venture into the forest note that the <a>Halo</a> level has begun slowly getting lower.
			The trees that surround the lake glow with a <span style="color: #b82511">beautiful auburn shine</span>
			eminating from their leaves.
		h3 Hell Mountain
		p.
			<a>Hell Mountain</a> is a home to strange forces that are at conflict with
			the rest of the world. It was once a sacred ritual ground for the <a>Angels</a>
			before the <a>Corruption</a>. <a>Halo</a> used to collect around and on the
			mountain, but now seems to avoid it.
