h2#premise Premise
section
	h3 Hell
	p.
		The world of <a>Hell</a> is a small but lush paradise world inhabited by
		<a>Citizens</a> and several forms of wild life that all feel vaguely familiar.
		The lone interuption to this world of calm and peace is <a>Hell Mountain</a>, located
		in the middle of <a>Halo Forest</a>. It is seperated into two hemispheres by a wide spanning river
		running directly through the middle of them. Though the river completely seperates them, they are
		connected by <a>Halo Forest</a> for those who know how to traverse through it.
	h3 Citizens
	p.
		<a>Citizens</a> are a species of humanoid creatures that inhabit the world of <a>Hell</a>.
		They were once immortal, but are just now starting to face the struggles of
		living finite lives.
	section
		h4 Clouds
		p.
			<a>Clouds</a> are small dark patches on the skin of <a>Citizens</a> that resemble
			moles or tattoos. <a>Citizens</a> are all slowly consumed as their bodies are covered by their clouds
			over the course of time. They only started appearing recently, about the time
			that the <a>Corruption</a> began. People were originally concerned, but dismissed
			their severity after a few months when nothing really seemed to be coming of them.
			More recently people have realized that <a>Clouds</a> are leeches which slowly drain
			the <a>Halo</a> from the <a>Citizens</a> they cloud.
	h3 Halo
	p.
		<a>Halo</a> is the energy of the world of <a>Hell</a>. All life that exists is formed
		from this mysterious semisolid substance. <a>Citizens</a> do have the ability
		to interact with it, though it involves years of careful training and isn't
		done through physical means. It is done by <a>Angels</a> who use their own
		<a>Halo</a> to influence it. It appears white in color and is slightly translucent.
	h3 Angels
	p.
		<a>Citizens</a> who have trained to influence <a>Halo</a>. They performed rituals
		on <a>Hell Mountain</a> which were believed to benefit all of the inhabitants of the world.
		Several years ago when they last traveled to the ritual grounds something happened
		and none of them returned. A few days later, the <a>Corruption</a> began.
	section
		h4 Annointed
		p.
			<a>Angels</a> who completed their training and had been formally recognized by the others
			were referred to as <a>Annointed</a>.
		h4 Training
		p.
			Those who desire to become <a>Angels</a> move to <a>Omen</a> sometime after
			turning 16 to begin their training among the <a>Annointed</a>. They must learn how
			to interact with <a>Halo</a> by using their own to influence it. This ability allows
			them to conjure great power and navigate through <a>Halo Forest</a>.
	h3 Pixies
	p.progress.
		Spirits which take the shape of animals and wander around <a>Halo Forest</a>. They are
		only visible to those with strong connections to <a>Halo</a>.
