h2#story Story
section
	h2#eve Eve
	section
		p.
			Eve is the mobile game prequel to <a>Hell</a> that showcases Eve's earlier
			life and the events that lead up to to the full game. You can see the shape
			of the world before the <a>Corruption</a> and the devastating impact that it
			would lead to.
			
	h2#hell Hell
	section
		h3 Objectives
		p.incomplete I have some goals.
		ul
			li Purify <a>Hell Mountain</a> and restore balance to <a>Halo</a>.
		p.incomplete Meta:
		ul
			li Over arching theme of selflessness and loss through selfish desires.
		h3 Prologue
		p.incomplete Everyone becomes gay
		h3 Chapter 1
		p.incomplete Orgy
		h3 Chapter 2
